.containerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8px;
  
    @media (max-width: 430px) {
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      z-index: 6;
      margin-top: 0px;
    }
  }
  
  .visible {
    opacity: 1;
    display: flex;
  }
  
  .hidden {
    opacity: 0 !important;
    display: none;
  }
  
  .pointer {
    cursor: pointer;
  }
  