$color-brand-primary-darkest: #660A3B;
$color-brand-primary-dark: #990052;
$color-brand-primary-pure: #E5007B;
$color-brand-primary-light: #FF2499;
$color-brand-primary-lightest: #FF4DAC;
$color-brand-secondary-darkest: #19272E;
$color-brand-secondary-pure: #122F3D;
$color-brand-secondary-medium: #004263;
$color-brand-secondary-light: #0A70A4;
$color-brand-secondary-lightest: #1F91CC;


$color-neutral-gray-darkest: #2B2D30;
$color-neutral-gray-dark: #3A3B40;
$color-neutral-gray-medium: #6F7377;
$color-neutral-gray-light: #D8DBE0;
$color-neutral-gray-lightest: #F2F4F7;
$color-neutral-black: #202020;
$color-neutral-white: #FFFFFF;


$color-semantic-success-medium: #0D8A4F;
$color-semantic-success-light: #2AB071;
$color-semantic-success-danger-dark: #CC0000;
$color-semantic-danger-light: #FF4242;
$color-semantic-selected: #2A85B9;

// cores do novo DS. Remover após começarmos a utilizar diretamente pelo Oxe
$color-neutral-gray-050: #FAFAFA;
$color-neutral-gray-100: #EFF0F0;
$color-neutral-gray-300: #BBBDBF;
$color-neutral-gray-800: #202122;

$color-brand-pa-primary-default: #D818A5;
