$spacing-inset-xxs: 12px 12px;
$spacing-inset-sm: 24px 24px;
$spacing-squish-md: 16px 32px;
$spacing-squish-xs: 8px 16px;
$spacing-inset-lg: 40px 40px;

$spacing-nano: 4px;
$spacing-xxxs: 8px;
$spacing-xxs: 12px;
$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-lg: 40px;
